#list_header {
	background-color: #ECA8FF;
}

.content {
	display: none;
	text-align: center;
	background-color: #ECA8FF;
	height: 80px;
	width: 600px;
	margin-left: 385px;

}

.nameDate{
	background-color: #ECA8FF;
	border-radius: 15px;
	height: 50px;
	width: 600px;
	margin: 10px;
	text-align: center;
	margin-left: 385px;

}

