#questions_header {
    background-color: #B3A69A;
}
.h1 {
 text-decoration:none;
 border:0;
 width : 162px;
 height : 113px;
 margin : 0;
 padding : 0;
 background : url(/images/logo.gif) no-repeat 0 0;
}
 
.h1 a {
 display : block;
 height : 113px;
 text-indent : -9999px; 
}
#name{
	margin-left: 130px;
}
label{
	text-align: center;
}
#description{
	margin-left:130px;
}
#location{
	margin-left:130px;
}
#dateDue{
	margin-left:100px;
}
.center{
	text-align: center;
}
#isHardGoal{
	width:150px;
	font-size: 15px;
	text-align: center;
	margin-left: 130px;
}
label{
	text-align: center;
}
#submit_button{
	font-family:"Papyrus";
	background-color: #A8BBFF;
    width:125px;
    border-style: double;
    border-radius: 15px;  
    border-color: white;
    padding:8px;
    border-spacing: 20px;
    box-shadow: 0 5px #666;
    position: relative;
    right:50px;
    left:250px;
}
#submit_button:hover {
    background-color: #BAD2F4;
}
#box_border{
	font-family:"Papyrus";
	background-color: #A8BBFF;
    width:400px;
    border-style:solid;
    border-radius: 15px;  
    border-color: black;
    padding:8px;
    border-spacing: 20px;
    margin-left:200px;
}