#main{
	padding: 2px 10px;
	text-align: center;
}
ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	text-align: center;
}
li {
	display: inline;
}
.button{
    background-color:white
;
    color: black;
    box-shadow: 0 5px #666;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button {
    background-color:#FFABA8;
}