#main{
	padding: 2px 10px;
	text-align: center;
}
ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	text-align: center;
}
li {
	display: inline;
}
.calendarbutton{
    background-color:white
;
    color: black;
    box-shadow: 0 5px #666;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.calendarbutton:hover {background-color: white}
.calendarbutton {
    background-color:#FFABA8;
}
.listbutton{
    background-color:white;
    color: black;
    box-shadow: 0 5px #666;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.listbutton:hover {background-color:white}
.listbutton {
    background-color:#ECA8FF;
}
.quadrantbutton{
    background-color:white;
    color: black;
    box-shadow: 0 5px #666;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.quadrantbutton:hover {background-color: white}
.quadranbutton {
    background-color:#000000;
    
}